<%- include('header') %>

<h2>This is about page.</h2>

<p>This is about. This is about. This is about. This is about. This is about. This is about. This is about. This is
    about.</p>

<%- include('footer') %>